<table>
    <tr bgcolor="#183D4B"><td><img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" height="15px" /></td></tr>

    <tr bgcolor="#183D4B" style="text-align: center">
        <td>
            <b style="text-transform: uppercase; color: white; font-size: 30px">Графік руху<br />транспорту</b>
        </td>
    </tr>

    <tr bgcolor="#183D4B"><td><img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" height="15px" /></td></tr>

    <tr bgcolor="#183D4B" style="text-align: center">
        <td>
            <table>
                <tr>
                    <td width="5%">&nbsp;</td>

                    <td width="90%" style="text-align: center">
                        <span style="text-transform: uppercase; color: white; font-size: 25px">Зупинка<br/></span>
                        <span style="text-transform: uppercase; color: white; font-size: 25px">{{ name }}</span>
                    </td>

                    <td width="5%">&nbsp;</td>
                </tr>
            </table>

        </td>
    </tr>

    <tr bgcolor="#183D4B"><td><img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" height="15px" /></td></tr>
    <tr><td><img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" height="35px" /></td></tr>

    <tr style="text-align: center">
        <td>
            <img src="{{ qrCode }}"/>
        </td>
    </tr>

    <tr><td><img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" height="25px" /></td></tr>

    <tr>
        <td style="text-align: center">
            <span style="font-size: 15px">перевіряйте за адресою lad.lviv.ua/<b color="#d9534f" style="font-size: 18px">{{ code }}</b>
            </span>
                <br /><span style="font-size: 14px">або</span><br />
            <span style="font-size: 15px">
                відправте SMS<sup>*</sup> з текстом <b color="#d9534f" style="font-size: 18px">{{ code }}</b> на номер <b>2214</b>
            </span>
        </td>
    </tr>

    <tr><td><img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif" height="15px" /></td></tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td width="10%">&nbsp;</td>
                    <td width="45%" style="text-align: center">
                        <img src="http://i.imgur.com/OOjlwAo.png" width="1500px" />
                    </td>

                    <td width="45%" style="text-align: center">
                        <img src="http://i.imgur.com/B1RYLV2.png" width="50px" />
                    </td>

                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="90%" style="text-align: justify;">
                        <span style="font-size: 6px; color: grey">* Вартість SMS на номер 2214 для абонентів мережі ПрАТ «Київстар» становить
                            0,60 грн., ТОВ «лайфселл» (lifecell) становить 0,94 грн., ПрАТ "МТС Україна" (МТС та Vodafone) – 0,94
                            грн (тариф у гривнях з урахуванням ПДВ. Додатково утримується збір до Пенсійного фонду у розмірі 7,5%
                            від вартості послуги без урахування ПДВ).<br/>

                            Сервіс тільки для повнолітніх абонентів всіх національних GSM операторів. Детальні умови на сайті
                            lad.lviv.ua або за тел. (032) 270-41-66 (у будні з 09:00 до 18:00). Дзвінки - згідно з тарифами Вашого оператора.<br/>

                            Організатор акції: ЛКП "Львівавтодор" тел.: (032) 270-41-66 (у будні з 09:00 до 18:00)<br/>

                            Технічний партнер: ТОВ «Старт-98» адреса: 03035, м. Київ, вул. Сурікова, буд. 3, корп. 37; тел.
                            технічної підтримки 044 492 27 37 (у будні з 09:00 до 18:00)
                        </span>
                    </td>
                    <td width="5%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>

</table>
